
<Context docBase="../../build/web"
			debug="0"
			privileged="true"
			cookies="false">

	<Parameter
			name="root.com.exedio.cope.servletutil.ServletSource.propertiesFile"
			value="@PROPERTIES@"
	/>

	<Resources cachingAllowed="false">
		<PreResources base="${catalina.home}/conf/logback.xml"
			className="org.apache.catalina.webresources.FileResourceSet"
			webAppMount="/WEB-INF/classes/logback.xml"/>
	</Resources>

</Context>
